// Styling for page sections
.page-section {
  padding: 3rem 0;
  .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @include media-breakpoint-up(lg) {
    .page-section-heading {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand img {
  width: 100%;
  min-height: 34px;
  max-height: 50px;
}
.row-table {
  padding: 0 1rem;
}
.row-table [class^="col"] {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 0.125rem solid #dee2e6;
}
.row-table:nth-child(odd) [class^="col"] {
  background-color: rgba(0, 0, 0, 0.05);
}
.row-table .col-th {
  font-weight: bold;
}

blockquote {
  background: rgba(255,255,255,0.1);
  border-left: 10px solid #FFF;
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #FFF;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}