/node_modules
/public/hot
/public/storage
/public/images/players/*
/public/js/app.js.LICENSE.txt
/public/js/*.js
/public/css/*.css
/public/mix-manifest.json
/storage/*.key
/vendor
.DS_Store
.env
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock.json
package-lock.json
