// Fonts
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Import variables (overrides Bootstrap defaults)
@import "variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import base styles
@import "base/page.scss";

// Import components styles
@import "components/divider.scss";
@import "components/buttons.scss";

// Import layout styles
@import "layout/navbar.scss";
@import "layout/masthead.scss";
@import "layout/portfolio.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

@import "custom.scss";