body {
	background-color: #000;
	color: #EA7A00;
}

#mainNav {
	background-color: #EA7A00 !important;
}

a {
	color: #EA7A00;
}
h2, h3 {
	color: #EA7A00;
}

h3.game-title {
	color: #FFF !important;
}
.message-text small {
	color: #EA7A00;
}